@using RestaurantOrder.Domain.Core.Entities
@using System.Linq
@using RestaurantOrder.Infrastructure.Business

@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Order>
@{
}

@foreach (var order in Model)
{

   @order.TableNumber
   @order.NeededDishes
   @order.Notes


   
}

<a style="display: block" asp-controller="Home" asp-action="Index">Create order</a>