<div class="text-center">
    <h1 class="display-4">Enter useful information about dishes</h1>


    <a asp-controller="Product" asp-action="CreateProduct">Create product</a> <br />
    <a asp-controller="Product" asp-action="DeleteProduct">Delete the product</a><br /><br />

    <a asp-controller="Dish" asp-action="CreateDish">Create dish</a><br />
    <a asp-controller="Dish" asp-action="DeleteDish">Delete the dish</a><br /><br />

    <a asp-controller="Product" asp-action="GetAll">Needed products</a><br /><br/>
    
    <a asp-controller="Order" asp-action="DeleteOrder">DeleteOrder</a><br/>

</div>