<link href="~/css/StyleMenuAndAdmin.css" rel="stylesheet" type="text/css" />
<h1 style="color: #ad0aff">Enter useful information about dishes</h1>
<div class="container">
<div class="dish">
   
    <a class="make-order" asp-controller="Order" asp-action="GetAll">Show all orders</a> <hr/>

    <a class="make-order" asp-controller="Product" asp-action="CreateProduct">Create product</a> <hr/>
    <a class="make-order" asp-controller="Product" asp-action="DeleteProduct">Delete product</a><hr />

    <a class="make-order" asp-controller="Dish" asp-action="CreateDish">Create dish</a><hr />
    <a class="make-order" asp-controller="Dish" asp-action="DeleteDish">Delete dish</a><hr />

    <a class="make-order" style="background-color: #f7513b" asp-controller="Account" asp-action="Logout">Logout</a>

</div>
</div>