@model RestaurantOrder.Services.Contracts.DishDto

<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />
<h1 style="color: #ad0aff">Create dish</h1>
<div class="container">
    <div class="dish">
       
        <form method="post" asp-controller="Dish" asp-action="CreateDish">
            <p class="name">Name of dish</p>
            <input class="input" asp-for="Name" type="text" /><br />
            <span asp-validation-for="Name" class="text-danger d-block"></span>

            <p class="name">Short description</p>
            <input class="input" asp-for="Description" type="text" /><br />
            <p class="name">Price of dish</p>
            <input class="input" asp-for="Price" name="price" type="text" /><br /><hr />
            <span asp-validation-for="Price" class="text-danger d-block"></span>


            <button class="make-order" type="submit">Create</button>
            @*<a class="make-order" asp-controller="Product" asp-action="AddProductToList">Create</a><br />*@

        </form>
    </div> 
    </div>