@*
    
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model RestaurantOrder.Domain.Core.Entities.Dish
<form method="post" asp-controller="Dish" asp-action="CreateDish">
    <label>Name of dish</label>
    <input asp-for="Name" type="text" /><br />
    <label>Short description</label>
    <input asp-for="Description" type="text" /><br />
    <label>Price of dish</label>
    <input asp-for="Price " class="form-control" name="price" type="number" step="0.01" /><br />
    
    
    <button type="submit">Create</button>


</form>