@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Dish >



<form method="post" asp-controller="Dish" asp-action="DeleteDish">
    <label>Index of dish you want to delete</label>
    <input name="orderId" type="number" required /><br />

    <button type="submit">Delete</button><br/>
    



</form>
@foreach (var dish in Model)
{
    <p class="name" >Id: @dish.Id  Name: @dish.Name</p>
}
