@{
    ViewData["Title"] = "About us";
}

<link href="~/css/styleAbout.css" rel="stylesheet" type="text/css" />
<h1>@ViewData["Title"]</h1>
<p1>Contacts</p1>
<p>Click on items and give a feedback</p>
<br />
<hr />
<a href="https://t.me/lerka_kalynenko" style="font-weight: bold">Telegram</a>
<hr />
<a href="https://www.instagram.com/lerka_kalynenko" style="font-weight: bold">Instagram</a>
<hr />

