@{
    ViewData["Title"] = "About us";
}
<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />
<h1>@ViewData["Title"]</h1>
<p>Contacts</p>
<br/><hr/>
<p class="name">Telegram: https:/t.me/restaurant_order</p><hr/>
<p class="name">Inst: restaurant_order</p>
