@{
    ViewData["Title"] = "Restaurant Order";
}

<div class="text-center">
    <h1 class="display-4">Make orders here</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Admin" asp-action="Index">Go to admin page</a><br />
    <a asp-controller="Order" asp-action="CreateOrder">Create order</a><br />
</div>
