@{
    ViewData["Title"] = "Restaurant Order";
}

<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />
<h1>Restaurant order</h1>
<div class="container">

     <a class="make-order" asp-controller="Admin" asp-action="Index">Go to admin page</a> <br />
    <a class="make-order" asp-controller="Order" asp-action="Menu">Show menu and make an order</a><br />

</div>


