@{
    ViewData["Title"] = "Restaurant Order";
}

<div class="text-center">
    <style>
        p {
            border: 2px solid blueviolet;
            padding: 10px 0;
            background-color: aquamarine;
        }
    </style>
    <p class="display-4">Make orders here</p>

    <a asp-controller="Admin" asp-action="Index">Go to admin page</a><br />
    <a asp-controller="Order" asp-action="Menu">Show menu and make an order</a><br />
</div>
