@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <style>
        p {
            border: 2px solid blueviolet;
            padding: 20px;
            background-color: aquamarine;
        }
    </style>
    <p class="display-4" ; style="color: black">Create order</p>


</div>
<form method="post" asp-controller="Order" asp-action="CreateOrder">
    <label style="background-color: aquamarine">Enter your table number, please</label>
    <input name="tableNumber" type="number" style="background-color: antiquewhite"/><br />
    <label style="background-color: aquamarine">Enter notes for your order</label>
    <input name="notes" type="text" style="background-color: antiquewhite"/><br />
    
    <button type="submit">Continue</button>


</form>