@model RestaurantOrder.Services.Contracts.OrderDto
<link href="~/css/StyleMenuAndAdmin.css" rel="stylesheet" type="text/css" />

<h1 style= "color: #ad0aff" >Create order</h1>
<div class="container">
    <div class="dish">
        
            <h3 class="name">Create an order</h3>
            
            <form method="post" asp-controller="Order" asp-action="CreateOrder">
                <p class="name">Enter the number of your table: </p>
                <input class="input" asp-for="TableNumber" name="tableNumber" type="number" required="" min="1" max ="30" style="width: 190px" />
                <span asp-validation-for="TableNumber" class="text-danger d-block"></span>
                <p class="name">Enter notes for your order: </p>
                <input class="input" name="notes" type="text" maxlength="100" /><br /><hr/>
                <button class="make-order" type="submit">Continue</button>

            </form>
        
    </div>
  
</div>





