@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-controller="Order" asp-action="CreateOrder">
    <label>Enter your table number, please</label>
    <input name="tableNumber" type="number" /><br />
    <label>Enter notes for your order</label>
    <input name="notes" type="text" /><br />
    
    <button type="submit">Create</button>


</form>