@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Dish>

<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />

<h1>Menu</h1>
<div class="container">
    <div class="dish">
        @foreach (var dish in Model)
        {
            <h3 class="name">@dish.Name</h3>
            <p class="name">Price: <span>@dish.Price$</span></p>
            <p class="name">Description: @dish.Description</p>
           <hr style="color: blueviolet"/>

                }
    </div>
    <a class = "make-order" asp-controller="Order" asp-action="CreateOrder">Make order</a><br />
</div>


