@model RestaurantOrder.Services.Contracts.ProductDto

<form method="post" asp-controller="Product" asp-action="CreateProduct">
    <label>Name of product</label>
    <input asp-for="Name" type="text" /><br />
    <span asp-validation-for="Name" class="text-danger d-block"></span>
    <label>Quantity of product</label>
    <input asp-for="Quantity" type="number" /><br />
    <span asp-validation-for="Quantity" class="text-danger d-block"></span>

    <button type="submit">Create</button>


</form>