@model RestaurantOrder.Services.Contracts.ProductDto
<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css"/>

<h1 style="color: #ad0aff">Create product</h1>
<div class="container">
    <div class="dish">
        <form method="post" asp-controller="Product" asp-action="CreateProduct">
            <p class="name">Name of product</p>
            <input class="input" asp-for="Name" type="text" /><br />
            <span asp-validation-for="Name" class="text-danger d-block"></span>
            <p class="name">Quantity of product</p>
            <input class="input" asp-for="Quantity" type="number" /><br />
            <span asp-validation-for="Quantity" class="text-danger d-block"></span><hr />

            <button class="make-order" type="submit">Create</button><hr />
            <a class="make-order" asp-controller="Admin" asp-action="Index">Return to admin page</a>


        </form>
    </div>
</div>