@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-controller="Product" asp-action="CreateProduct">
    <input name="name" type="text"/>
    <input name="quantity" type="number"/>

    <button type="submit">Create</button>
</form>