@using RestaurantOrder.Domain.Core.Entities
@model ICollection<Product>
<link href="~/css/StylePartial.css" rel="stylesheet" type="text/css" />

 

@foreach (var product in Model)
    
{   <form method="post" asp-action="DeleteProduct">
    <input class="hide" hidden="@product.Id">
    <label class="name">@product.Name</label>
    <button class="make-order" type="submit" asp-route-id="@product.Id">Delete product</button>
    <hr>
</form>
}

