@using RestaurantOrder.Domain.Core.Entities
@model ICollection<Product>



<form method="post" asp-controller="Product" asp-action="DeleteProduct">

    <label>Index of product you want to delete</label>
    <input name="id" type="number" required="" min="1" /><br />
    <button type="submit">Delete</button>

</form>


@foreach (var product in Model)
{
    <p class="name">Id: @product.Id  Name: @product.Name</p>
    <br />
}