@using RestaurantOrder.Domain.Core.Entities
@model IEnumerable<RestaurantOrder.Domain.Core.Entities.Product>



<form method="post" asp-controller="Product" asp-action="DeleteProduct">

    <label>Index of product you want to delete</label>
    <input name="id" type="number" required="" min="1"
           /><br />


</form> 


<button type="submit">Delete</button>
